<!-- Hitter Stats -->
<td><%= player.projections&.dig("at_bats") %></td>
<td><%= player.projections&.dig("home_runs") %></td>
<td><%= player.projections&.dig("runs") %></td>
<td><%= player.projections&.dig("rbi") %></td>
<td><%= player.projections&.dig("stolen_bases") %></td>
<td><%= player.projections&.dig("batting_average") %></td>

<!-- Pitcher Stats -->
<td><%= player.projections&.dig("innings_pitched") %></td>
<td><%= player.projections&.dig("wins") %></td>
<td><%= player.projections&.dig("saves") %></td>
<td><%= player.projections&.dig("strikeouts") %></td>
<td><%= player.projections&.dig("era") %></td>
<td><%= player.projections&.dig("whip") %></td>
